<div class="row">
<div class="col-xs-3" id="sg-container">
    <div id="ttt" class="col-xs-10 col-xs-offset-1" ng-click="handleEvents()"></div>
    <div class="row">
        <button id="clear" class="btn btn-custom col-xs-4" ng-click="clearInput()">Clear Input</button>
        <button id="clear" class="btn btn-custom col-xs-4" ng-click="startGame()">World Run</button>
        <button id="leave" class="btn btn-custom col-xs-4" ng-click="stopGame()">World Stop</button>
    </div>
</div>
<div id="world" class="col-xs-9">
    <div id="canvasContainer" class="col-xs-6 col-xs-offset-3">
        <canvas id='myCanvas' width="500" height="500"></canvas>
    </div>
</div>
