<div class="row">
    <header id="header" class="col-sm-3 col-sm-offset-5">
        <h3>Secret Playground</h3>
    </header>
</div>

<div class="row">
    <div class="home-header col-sm-6 col-sm-offset-3 alert-success">
        <h3>Welcom to this fun website, <span id="username">{{currentUser.userName}}</span>!</h3>
        <div class="col-sm-offset-1">
            <h4>In a wrold run on Conway's rules, can your creatures survive?</h4>
        </div>
        <div class="col-sm-offset-2">
            <h4>Sharpen you Tetris skills and share with your friends!</h4>
        </div>
        <div class="col-sm-offset-3">
            <h4>Always stay connected!</h4>
        </div>
        <div class="col-sm-offset-4">
            <h4>It is time to start your joyful journey...</h4>
        </div>
    </div>
    <div id="OnlineUsers">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="fa fa-users"></span>&nbsp; &nbsp; Online[{{OnlineUsers.length}}]
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a ng-click="ChangeStatus('Online')">
                                <span class="glyphicon glyphicon-ok-sign">
                                </span>Available
                            </a>
                        </li>
                        <li>
                            <a ng-click="ChangeStatus('Busy')">
                                <span class="glyphicon glyphicon-remove">
                                </span>Busy
                            </a>
                        </li>
                        <li>
                            <a ng-click="ChangeStatus('Away')">
                                <span class="glyphicon glyphicon-time"></span>
                                Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-off"></span>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body" style="min-height:100px; max-height:600px;" ng-class="">
                <div  ng-click="broadcastOn()">All</div>
                <div class="media" ng-repeat="user in OnlineUsers track by $index">
                    <div class="media-body">
                        <h3 class="media-heading">
                            <strong>
                                <a ng-click="PrivateMessage($index)">
                                    <i class="fa fa-minus-circle" style="color:red" ng-show="user.status=='Busy'"></i>
                                    <i class="fa fa-circle" style="color:green" ng-show="user.status=='Online'"> </i>
                                    <i class="fa fa-history" style="color:orange" ng-show="user.status=='Away'">  </i>
                                    {{user.name}}
                                </a>
                            </strong>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="PrivateChatArea" ng-show="ShowPrivateWindow">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> {{UserInPrivateChat.name}} {{usertyping}}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="ClosePrivateWindow()">
                        <span class="glyphicon glyphicon-remove"> </span>
                    </button>
                </div>
            </div>
            <div class="panel-body" style="overflow-y:scroll; min-height:200px; max-height:200px;">
                <ul class="chat">
                    <li class="clearfix" ng-repeat="msg in PrivateMessages">
                        <div class="header" ng-class="(msg.from == UserInPrivateChat.name )? 'left' : 'right'">
                            <strong class="primary-font">{{msg.from}}</strong>
                        </div>
                        <p>
                            {{msg.message}}
                        </p>
                    </li>
                </ul>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" ng-model="pvtmessage" placeholder="Type your message here..." ng-keypress="SkeyPress($event)" />
                        <span class="input-group-btn">
                            <button ng-hide="isBroadcastOn" class="btn btn-warning btn-sm" id="btn-chat" ng-click="SendPrivateMessage()">
                                Send
                            </button>
                            <button ng-show="isBroadcastOn"  class="btn btn-warning btn-sm" id="btn-chat-all" ng-click="sendMsg()">
                                Send To All
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
