<div class="row">
    <header id="header" class="col-sm-3 col-sm-offset-5">
        <h3>Secret Playground</h3>
    </header>
</div>

<div class="row">
    <div class="home-header col-sm-6 col-sm-offset-3 alert-success">
        <h3>Welcom to this fun website, <span id="username">{{currentUser.userName}}</span>!</h3>
        <div class="col-sm-offset-1">
            <h4>In a wrold run on Conway's rules, can your creatures survive?</h4>
        </div>
        <div class="col-sm-offset-2">
            <h4>Sharpen you Tetris skills and share with your friends!</h4>
        </div>
        <div class="col-sm-offset-3">
            <h4>Always stay connected!</h4>
        </div>
        <div class="col-sm-offset-4">
            <h4>It is time to start your joyful journey...</h4>
        </div>
    </div>

</div>
