<div class="col-xs-3" id="sg-container">
    <div id="ttt" class="col-xs-10 col-xs-offset-1" ng-click="handleEvents()"></div>
    <div class="row">
        <button id="clear" class="btn btn-custom col-xs-4" ng-click="clearInput()">Clear Input</button>
    </div>
    <div class="form-group row">
        <input type="text" class="col-sm-offset-1 col-sm-10" placeholder="Pattern Name" ng-model="newPattern.name" required>
        <button id="clear" class="btn btn-custom col-xs-4" ng-click="savePattern()">Save Pattern</button>
    </div>
</div>