<div class="row" id="sg-container" ng-hide="runMode || viewMode">
    <div id="ttt" class="col-sm-10 col-sm-offset-1" ng-click="handleEvents()"></div>
    <div class="row">
        <button class="btn btn-custom col-sm-4" ng-click="clearInput()">Clear</button>
        <button class="btn btn-custom col-sm-4" ng-click="loadPattern()">Load Pattern</button>
        <button class="btn btn-custom col-sm-4" ng-click="viewShow()">View Live Show</button>
        <div class="col-sm-4">
            <button class="btn btn-custom" ng-show="!inputShow" ng-click="initSave()">Save Pattern</button>
            <input type="text" class="form-control input-sm" ng-show="inputShow" ng-model="patternName" placeholder="Type pattern name here..." ng-keypress="SkeyPress($event)" />
            <button class="btn btn-custom" ng-show="inputShow" ng-click="savePattern()">Submit</button>
            <button class="btn btn-custom" ng-show="inputShow" ng-click="cancelSave()">Cancel</button>
            <p ng-show="!isValid&&inputShow">Empty pattern, input or pattern name already exists.</p>
        </div>
    </div>
</div>
<div id="world" class="col-sm-9" ng-show="runMode">
    <div id="canvasContainer" class="col-sm-6 col-sm-offset-3">
        <canvas id='myBigCanvas' width="500" height="500"></canvas>
        <div class="btn btn-success col-sm-12" ng-if="selfMode">Self Mode is ON!</div>
        <div class="btn btn-success col-sm-12" ng-if="!selfMode">Broadcast Mode is ON!</div>
        <button class="btn btn-custom col-sm-4" ng-click="changeMode()" ng-if="!selfMode">SelfMode</button>
        <button class="btn btn-custom col-sm-4" ng-click="changeMode()" ng-if="selfMode">Broadcast</button>
        <button class="btn btn-custom col-sm-4" ng-click="startGame()">Run</button>
        <button class="btn btn-custom col-sm-4" ng-click="pauseGame()" ng-if="!paused">Pause</button>
        <button class="btn btn-custom col-sm-4" ng-click="pauseGame()" ng-if="paused">Resume</button>
        <button class="btn btn-custom col-sm-4" ng-click="stopGame()">Stop</button>
        <button class="btn btn-custom col-sm-4" ng-click="closeRunMode()">Back To Pattern</button>
    </div>
</div>
<div id="view-world" class="col-sm-9" ng-show="viewMode">
    <div id="view-canvasContainer" class="col-sm-6 col-sm-offset-3">
        <canvas id='viewCanvas' width="500" height="500"></canvas>
        <button class="btn btn-custom col-sm-4" ng-click="closeViewMode()">Back To Pattern</button>
    </div>
</div>

