<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>

<h3>Patterns:</h3>

<div class="row">
    <table class="table table-striped table-user-information">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter: searchText">
                <td class="col-sm-2"><a ng-click="loadItem(item)">{{item.Name}}</a></td>
                <td class="col-sm-8">{{item.Description}}</td>
                <td class="col-sm-2">
                    <button class="btn btn-info fa fa-pencil-square-o" ng-click="editItem(item.Id)"></button> || 
                    <button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.Id)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div> 